:root {
    --color-black: #000;
    --color-white: #FFFFFF;

    --navbar-bg-color: #0b141f;

    --text-menu-btn: #585858;
    --input-bg-color: #E0E0E0;
    --text-input-color: #525252;

    --color-btn: #1E40A0;
    --color-title-auth: #3150AB;

    --color-bg-user-child: #F9F9F9;
}