<div class="users-child">
    <div class="users-child__work-info">
        <h3>{{userData.name}}</h3>
        <app-select [items]="userData.endTourneys"></app-select>
        <app-select [items]="userData.startTourneys"></app-select>
    </div>
    <div class="users-child__personal-info">
        <div>{{userData.title.city}}</div>
        <div>{{userData.title.school}}</div>
        <div>{{userData.title.classroom}}</div>
    </div>
    <div class="users-child__edit-btns">
        <app-button (click)="changed(1)" [setBackgroundColor]="'#2DD700'" [setMargin]="setMargin">Редактировать</app-button>
        <app-button (click)="changed(2)" [setBackgroundColor]="'#585858'" [setMargin]="setMargin">Заблокировать</app-button>
        <app-button (click)="changed(3)" [setBackgroundColor]="'#A60000'">Удалить</app-button>
    </div>
</div>