.upcoming-tourneys {
    width: 100%;
    max-width: 1400px;
    margin: 100px auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .upcoming-tourneys__content {
        width: 100%;
        padding: 20px 30px;
        width: 32%;
        border-radius: 10px;
        background-color: var(--color-title-auth);
        font-size: 16px;
        margin-bottom: 40px;

        div {
            margin-bottom: 5px;
        }

        span {
            color: var(--color-white);
            font-size: 18px;
        }
    }
}