input {
    border: none;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    padding-right: 5px;
    background-color: var(--input-bg-color);
    height: 35px;
    width: 100%;
}

.is-padding {
    padding-right: 30px;
}

.isSearch {
    height: 54px;
    font-size: 18px;
    padding-right: 40px;
}