<div class="login-wrapper">
    <div class="login-wrapper__header">
        <h3 class="auth-title">Вход</h3>
        <app-button [routerLink]="'/register'">Регистрация</app-button>
    </div>
    <div>
        <app-input-form [name]="'email'" (myEvent)="handleEvent($event)" [value]="loginBody.email" [title]="'E-mail'"></app-input-form>
        <app-input-password [name]="'password'" (myEvent)="handleEvent($event)" [value]="loginBody.password" [title]="'Пароль'"></app-input-password>
        <div class="login-wrapper__btn_position">
            <app-button (click)="sendLogin()">Войти</app-button>
        </div>
    </div>
</div>