.input-password {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-form__comp {
        width: 100%;
    }

    .password-icon {
        position: absolute;
        right: 10px;
        cursor: pointer;

        svg {
            width: 14px;
            height: 14px; 
        }
    }
}
