<div class="input-form">
    <label class="input-form__title" for="">{{title}}</label>
    <div class="input-form__wrapper">
        <div class="input-password">
            <app-input [value]="value" [name]="name" (myEvent)="passEvent($event)" [disabled]="disabled" class="input-form__comp" [isPadding]="isPadding" [type]="isPassword"></app-input>
            <svg-icon (click)="showPassword()" class="password-icon" [src]="'assets/' + (isPassword === 'password' ? 'eye.svg' : 'eye-crossed.svg')"></svg-icon>
        </div>
        <div class="input-form__error"></div>  
    </div>
</div>